
 model-viewer {
  
  height: 350px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  z-index: 10;
}

.icon-back {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #222;
  border-radius: 20%;
  padding: 8px;
  display: inline-block;
  transition: background 0.2s;
  z-index: 100;
  text-decoration: none;
}

.icon-back:hover {
  background: #444;
}

body{
  background-color: #000000;
  background: radial-gradient(ellipse at bottom right,#ffdd00, #000000 95%);
}